<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Native_iOS_App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F92820626E1290400803251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F92821C26E1290C00803251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F92822726E1290C00803251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
